.login-container {
  height: calc(100vh - 72px);
  overflow-x: hidden;
  display: flex;
}

.image {
  background: url('../../../assets/img/gallery/bg-login.png')
    rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  flex: 1;
}

@media screen and (max-width: 786px) {
  .image {
    display: none;
  }
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 786px) {
  .image {
    display: none;
  }
}


.sign-up-link {
  text-align: center;
  padding-bottom: 10px;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 1px #000;
  outline: none;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

input[type="email"]:hover::placeholder,
input[type="password"]:hover::placeholder {
  color: #000;
}

a {
  color: #424242;
  text-decoration: none;
  align-self: flex-end;
}

a:hover {
  text-decoration: underline;
}

::selection {
  color: #fff;
  background-color: #000;
}

.form-error {
  text-align: start;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: red;
}