<section class="py-5">

    <!--? Our Services Start -->
    <div class="our-services section-padding30">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="row justify-content-center">
                    <div class="section-tittle text-center mb-50">
                        <h2>Services for every pet</h2>
                        <span>Choose from the list of most popular categories</span>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <img class="icon" src="../../../../assets/img/illustrations/pet-house.png" alt="Pet visit">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Drop-In Visits</a></h5>
                            <p>Your sitter drops by your home to play with your pets, offer food, and give Potty Breaks or clean the litter box.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <img class="icon" src="../../../../assets/img/illustrations/dog-walking.png" alt="Pet visit">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Dog Walking</a></h5>
                            <p>Your dog gets a walk around your local area. Perfect for busy days and dogs with extra energy to burn.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <img class="icon" src="../../../../assets/img/illustrations/pet-care.png" alt="Pet visit">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">House Sitting</a></h5>
                            <p>Your sitter takes care of your pets and your home. Your pets will get all the attention they need without leaving home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->
</section>