<section class="py-0" id="home">
  <video class="bg-video d-none d-sm-block" autoplay muted loop style="object-position:left;">
    <source src="assets/video/cat.webm" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <!-- mobile -->
  <div class="bg-holder d-sm-none" style="background-image:url(assets/img/gallery/cat-bg.png);background-size:contain;">
  </div>
  <!-- /mobile -->

  <div class="container">
    <div class="row align-items-center justify-content-end min-vh-75 min-vh-md-100">
      <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">

        <h1 class="mt-6 mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8 text-white">Find a pet sitter <br
            class="d-block d-lg-none d-xl-block" />in your area</h1>

        <p class="mb-4 fs-1 text-light">Find a qualified sitter to care for your pet</p>

        <div class="pt-3">
          <form>
            <div class="input-group w-xl-75 w-xxl-50 d-flex flex-end-center">
              <input class="form-control rounded-pill shadow-lg border-0" id="formGroupExampleInput" type="text"
                placeholder="Search by postal code or city" /><img class="input-box-icon me-2"
                src="assets/img/illustrations/search.png" width="30" alt="" />
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="pb-8">

  <div class="container">
    <div class="row flex-center">
      <div class="col-md-5 order-md-1 text-center text-md-end"><img class="img-fluid mb-4"
          src="assets/img/gallery/dog-tennis-balls.jpg" width="450" alt="" /></div>
      <div class="col-md-5 text-center text-md-start">
        <h6 class="fw-bold fs-2 fs-lg-3 display-3 lh-sm">We care your pets <br> the one thats rights for you</h6>
        <p class="my-4 pe-xl-8">Get your blood tests delivered at home collect a sample from the news your blood
          tests.</p>
      </div>
    </div>
  </div>

</section>


<app-cards></app-cards>

<section class="py-0"><img class="w-100" src="assets/img/illustrations/come-on-join.png" alt="" />
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Want to become a pet sitter?</h6>
        <p>Get paid to play with pets. </p>
        <button class="btn btn-primary">Become a sitter</button>
      </div>
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>