@media only screen and (min-width:  576px) {
    .title-text .non-mobile-text {
        display: block;
    }

    .mobile-text {
        display: none;
    }
}

.non-mobile-text {
    display: none;
}

.bg-video {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position:absolute;
  top: 25%;
  right: 10%;
  z-index:1;
}