<div class="about">
  <section class="py-0">
      <img class="bg-holder" 
      src="../../../../assets/img/gallery/about-bg.png">
  </section>
  
  <section class="pb-6 pt-4">
  
      <div class="container">
          
          <div class="row flex-center">
              <div class="col text-center text-md-start">
                  <h1 class="mb-sm-4 display-2 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-8">
                      About
                  </h1>
              </div>
          </div>
  
        <div class="row flex-center">
          <div class="col text-center text-md-start">
            <h6 class="fw-bold fs-2 fs-lg-3 display-3 lh-sm">We offer the best service for your pets.</h6>
            <p class="my-4 pe-xl-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque saepe vitae voluptates esse laboriosam dignissimos aliquam. 
              Fugiat tempora laborum debitis minima animi odit blanditiis nesciunt! Neque officiis distinctio iste.</p>
          </div>
        </div>
      </div>
    
    </section>
</div>