input[type="text"] {
  padding: 7px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  width: 100%;
}

input[type="text"]::placeholder {
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

input[type="text"]:hover::placeholder {
  color: #000;
}