@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.sticky-top {
  padding-top: 72px;
}

#divMap {
  max-height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  justify-content: center;
}

.map-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.map-buttons {
  position: fixed;
  padding: 20px 20px;
  z-index: 1;
}

.zoom {
  border: 1px solid #E94842;
  background: #fffbfa;
  color: #e38368;
}
.zoom:hover {
  border: 1px solid #E94842;
  background: #fff;
  color: #E94842;
}

// .sidebar {
//   height: 100%;
//   width: 100%;
//   position: fixed;
// }

img {
  cursor: pointer;
}

i {
  color: green;
}

.sitter-info {
  z-index: 1;
  overflow: hidden;
}


.card {
  border: 1px solid #F5D5C3;
  background: #fffbfa;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.card:hover {
  border: 1px solid #E94842;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
}

.card-text {
  font-size: small;
}

.card-address {
  font-size: 85%;
}

// .rounded {
//   width: 100px;
//   height: 100px;
//   border-radius: 100%;
// }

.favorite i {
  cursor: pointer;
  color: #E94842;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.img-fluid {
  border-start-start-radius: 100px;
}

.favorite i:hover {
  color: #E94842;
}

.red {
  color: #E94842;
}

.light-red {
  color: #F5D5C3;
}

.btn-outline-primary {
  border-radius: 100%;
}