@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

/*-----------------------------------------------
|   CONTENT
-----------------------------------------------*/

.horizontal-layout {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  // display: flex;
}

/*-----------------------------------------------
|   SEARCH RESULTS
-----------------------------------------------*/

@media (min-width: 768px) {
  .search-results-wrapper {
    display: block;
  }
}

.card {
  // border: 1px solid #F5D5C3;
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.card:hover {
  border: 1px solid #e94842;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
}

.img-fluid {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 767px) {
  .img-fluid {
    height: 90px;
    width: 90px;
  }
}

.card-text {
  font-size: small;
}

.card-address {
  font-size: 85%;
}

.favorite i:hover {
  color: #e94842;
}

.red {
  color: #e94842;
}

.light-red {
  color: #f5d5c3;
}

.favorite {
  position: absolute;
  align-self: flex-end;
  border-radius: 100%;
  border: 1px solid #f5d5c3;
}

.favorite:hover {
  background-color: #fff9f4;
  border: 1px solid #f5d5c3;
}

.bi-shield-fill-check {
  color: #40975f;
}

.horizontal-line {
  display: flex;
  width: 100%;
  border-top: solid 1px #d7d7d7;
}