<div class="horizontal-layout d-lg-flex">
  <!-- sidebar filter -->
  <aside class="col-12 col-lg-2">
    <app-filter (formValue)="filters($event)"></app-filter>
  </aside>
  <!-- /sidebar filter -->

  <!-- search results -->
  <div class="col-12 col-lg-5">
    <div class="row my-3 d-flex justify-content-center">
      <app-search-bar></app-search-bar>
    </div>
    <div class="px-3">
      <div class="card my-3" *ngFor="let user of userSittersData; let i = index">
        <button class="btn btn-outline-primary favorite m-3" (click)="saveFavorite(i)">
          <i [class]="getClassCSS(i)"></i>
        </button>
        <div class="row g-0">
          <div class="col-4 p-3 align-self-center" routerLink="">
            <img [src]="user.profilePicture" class="img-fluid" alt="username">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a routerLink="" class="h4">{{ user.name }}</a>
              <i *ngIf="user.verifiedUser" title="Verified User" class="bi bi-shield-fill-check px-2"></i>
              <p class="card-text">
                {{ user.titleDesc }}
                <br>
                <span class="card-address">
                  {{ user.address }}
                </span>
              </p>
              <p class="card-text hidden-mobile">{{ user.desc | truncate:[120, '...'] }}</p>
            </div>
          </div>
          <!-- <div class="col-3">
            <div class="p-3">
              <span class="card-text">from</span>
              <h3> {{ user.price }} € </h3>
              <button class="btn btn-outline-primary favorite" (click)="saveFavorite(i)">
                <i [class]="getClassCSS(i)"></i>
              </button>
            </div>

          </div> -->
        </div>
      </div>
      <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" class="d-flex justify-content-center"></ngb-pagination>
    </div>
  </div>
  <!-- /search results -->

  <!-- map -->
  <div class="d-none d-lg-block col-lg-5" id="divMap">
    
    <app-map></app-map>
    
  </div>
</div>